*{
    padding: 0;
    margin: 0;
}
.content{
    column-count: 3;
    column-width: 300px;
    column-gap: 20px;
    transition: all 1.5s;
}
/* .content:hover{
    transform: translateX(-410px);
    transition: all 1.5s;
} */
.btn{
    position: absolute;
    top: 100px;
    left: 50px;
    cursor: pointer;
}